@import url(https://fonts.googleapis.com/css?family=Krona+One);

/* body {
    padding: 0;
    margin: 0;
    background-color: black;
    
} */

.sec-sponsors {
  height: 400px;
  margin-bottom: 30px;
  padding-top: 2rem;
  padding-bottom: 4vh;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 3vw;
  background-image: radial-gradient(
    circle at 24.1% 68.8%,
    #130f40 0%,
    #000000 80%
  );
}
.sponsors-text {
  align-items: center;
  justify-content: center;
  margin-left: 37%;
  padding-bottom: 7vh;
  /* padding-bottom: 5vh; */
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container {
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -10px;
}

.carousel-item {
  flex: 0 0 calc(16.66667% - 20px);
  height: 15rem;
  margin: 0 1rem;
  background-color: lightgray;
  text-align: center;
  line-height: 150px;
  font-size: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 20rem;
  /* height: 15rem; */
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  background-color: rgba(255, 171, 15, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.carousel-button:hover,
.carousel-button:focus {
  opacity: 1;
}

.carousel-button-prev {
  left: 20px;
}

.carousel-button-next {
  right: 20px;
}

.carousel-button svg {
  width: 24px;
  height: 24px;
  fill: #666;
}

@media (max-width: 800px) {
  .carousel-item {
    flex: 0 0 calc(50% - 20px);
  }

  .sec-sponsors {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .sponsors-text {
    font-size: 3rem;
    margin-left: 16vw;
  }

  .sec-gallery .section h1 {
    font-size: 2rem;
    /* padding-right: 3.6rem; */
  }

  .guest .container .row h1 {
    font-size: 2rem;
    padding-right: 3rem;
  }

  .sec-faq h1 {
    font-size: 2rem;
    padding-left: 4rem;
    padding-bottom: 0.5rem;
  }
}
