.sponsor-new{
  align-items: center;
  /* background: #e3e3e3; */
  /* display: flex; */
  /* height: 100vh; */
  justify-content: center;
  
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 17));
    transform: translateX(calc(-250px * 17));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 17));
    transform: translateX(calc(-250px * 17));
  }
}
.sponsor-slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* background-color: white; */
  background: radial-gradient(#130F40 0%, #010102);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sponsor-slider::before,
.sponsor-slider::after {
  background: linear-gradient(to right, #010102 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 180px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.sponsor-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.sponsor-slider::before {
  left: 0;
  top: 0;
}
.sponsor-slider .sponsor-slide-track {
  -webkit-animation: scroll  16s linear infinite;
  animation: scroll 16s linear infinite;
  display: flex;
  width: calc(250px * 4);
}
.sponsor-slider .sponsor-slide {
  height: 100px;
  width: 250px;
  padding-left: 190px;
}
